/* global.css */
:root {
  body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    transition: background-color 0.3s, color 0.3s;
  }

  body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    transition: background-color 0.3s, color 0.3s;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item {
  margin-right: 10px; /* Add margin between navigation items */
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.nav-logo {
  margin-right: 5px;
}

.nav-text {
  font-size: 1.2rem;
  font-weight: bold;
}

.nav-item:last-child {
  margin-right: 0; /* Remove margin for the last navigation item */
}

.theme-button {
  border: none;
  background: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
